@model IEnumerable<AprajitaRetails.Models.ViewModels.CashBook>

@{
    ViewData["Title"] = "Index";
}

<h1>Cash Book</h1>

<
<table class="table table-sm table-bordered table-hover">
    <thead class="table-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Particulars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashBalance)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody class="table-danger">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Particulars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashBalance)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
