@model AprajitaRetails.Areas.Purchase.Models.ProductPurchase

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>ProductPurchase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InWardNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InWardNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InWardDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InWardDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBasicAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBasicAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.SuppilerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-amber" asp-action="Edit" asp-route-id="@Model.ProductPurchaseId">Edit</a> 
   
</div>
