@model PaginatedList<AprajitaRetails.Models.EndOfDay>

@{
    ViewData["Title"] = "End of Day";
}

<h1 class="text-danger">End of Day</h1>

<p>
    <a class="btn btn-outline-primary btn-sm" asp-action="Create">Create New</a>
</p>
<table class="table table-sm  table-hover table-striped">
    <thead class="bg-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EOD_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Shirting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Suiting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().USPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FM_Arrow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().RWT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Access)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CashInHand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="bg-white">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EOD_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shirting)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suiting)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USPA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FM_Arrow)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RWT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Access)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CashInHand)
                </td>
                <td class="btn-group btn-group-sm">
                    <a class="btn btn-outline-amber " asp-action="Edit" asp-route-id="@item.EndOfDayId">Edit</a>
                    <a class="btn btn-outline-info " asp-action="Details" asp-route-id="@item.EndOfDayId">Details</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.EndOfDayId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_ModalPop" />
