@model AprajitaRetails.Areas.StoneWorks.Models.DailyLabor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DailyLabor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPresent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPresent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDailyBillable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDailyBillable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DailyLaborId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
