@model AprajitaRetails.Models.Employee

@{
    ViewData["Title"] = "Details";
}

    <div>
        <h5 class="">Employee</h5>
        <hr />
        <dl class="row">
            <dt class="col-lg-2">
                @Html.DisplayNameFor(model => model.StaffName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StaffName)
            </dd>
            <dt class="col-lg-2">
                @Html.DisplayNameFor(model => model.MobileNo)
            </dt>
            <dd class="col-sm-10">
                <i class="material-icons text-danger">contact_phone</i> @Html.DisplayFor(model => model.MobileNo)
            </dd>
            <dt class="col-lg-2">
                @Html.DisplayNameFor(model => model.EMail)
            </dt>
            <dd class="col-sm-10">
                <span class="material-icons orange-text">contact_mail</span>  @Html.DisplayFor(model => model.EMail)
            </dd>
            <dt class="col-lg-2">
                @Html.DisplayNameFor(model => model.JoiningDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.JoiningDate)
            </dd>
            <dt class="col-lg-2">
                @Html.DisplayNameFor(model => model.LeavingDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LeavingDate)
            </dd>
            <dt class="col-lg-2">
                @Html.DisplayNameFor(model => model.IsWorking)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsWorking)
            </dd>
            <dt class="col-lg-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt class="col-lg-2">
                @Html.DisplayNameFor(model => model.IsTailors)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsTailors)
            </dd>
        </dl>
        <div>
            <a class="btn btn-sm btn-outline-blue-grey" asp-action="Edit" asp-route-id="@Model.EmployeeId"> Edit</a> 
            @*<a class="btn btn-primary btn-sm" asp-action="Index">Back to List</a>*@
        </div>

    </div>
