@model PaginatedList<AprajitaRetails.Models.BankAccountSecurityInfo>

@{
    ViewData ["Title"] = "Index";
}

<h2 class="deep-purple-text">Account Security Info</h2>

<p>
    <a class="btn btn-sm btn-outline-success" asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped table-sm">
    <thead class="table-info">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">  @Html.DisplayNameFor(model => model.FirstOrDefault().BankAccountInfo.AccountHolder)</a>
            </th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["BankSortParm"]">@Html.DisplayNameFor(model => model.FirstOrDefault().BankAccountInfo.Bank.BankName)</a></th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BankAccountInfo.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TaxPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ExtraPassword)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ATMCardNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CVVNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ATMPin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TPIN)
                </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model )
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BankAccountInfo.AccountHolder)
                </td>
                <td>@Html.DisplayFor(modelItem => item.BankAccountInfo.Bank.BankName)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankAccountInfo.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraPassword)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ATMCardNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CVVNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ATMPin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TPIN)
                    </td>*@

                <td class="btn-group btn-group-sm">
                    <a class="btn btn-outline-amber" asp-action="Edit" asp-route-id="@item.BankAccountSecurityInfoId">Edit</a>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.BankAccountSecurityInfoId">Details</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.BankAccountSecurityInfoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_ModalPop" />

