@model IEnumerable<AprajitaRetails.Models.CashDetail>

@{
    ViewData ["Title"] = "Cash Details";
}

<h1>Cash Details</h1>

<p>
    <a class="btn btn-sm btn-outline-success" asp-action="Create" id="create" data_modal="">Create New</a>
</p>
<table class="table table-bordered table-sm table-hover">
    <thead class="table-danger">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C2000)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C1000)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C500)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C100)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C50)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coin10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coin5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coin2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coin1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-info">
        @foreach ( var item in Model )
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C2000)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C1000)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C500)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C100)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C50)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C20)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C10)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coin10)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coin5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coin2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coin1)
                </td>
                <td class="btn-group btn-group-sm">
                    <a id="edit" data_modal="" class="btn btn-outline-amber" asp-action="Edit" asp-route-id="@item.CashDetailId">Edit</a>
                    <a  id="detail" data_modal="" class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.CashDetailId">Details</a>
                    <a  id="delete" data_modal="" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.CashDetailId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<partial name="_ModalPop" />

