@model IEnumerable<AprajitaRetails.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}

    <h1 class="text-dark">Employees</h1>

<p>
   <a  class="btn btn-primary btn-sm" asp-action="Create" class="btn btn-primary btn-sm">Create New</a>
</p>
<table class="table  table-responsive table-responsive-sm table-sm table-hover ">
    <thead class="bg-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoiningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeavingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsWorking)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-danger" >
@foreach (var item in Model) {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.StaffName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoiningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeavingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWorking)
            </td>
            <td class="btn-group btn-group-toggle">
                <a  class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a>
                <a  class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.EmployeeId">Details</a>
                <a  class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
