@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using AprajitaRetails.Models.Helpers 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />
    <title>@ViewData["Title"] - Aprajita Retails</title>
    <link rel="stylesheet" type="text/css" href="~/css/font/flaticon.css">
    <link rel="stylesheet" href="~/lib/mdb/css/mdb.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" class="flaticon-groom" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm   navbar-toggleable-sm navbar-dark fixed-top  default-color lighten-4 border-bottom box-shadow mb-1">
            <div class="container-fluid">
                <a class="navbar-brand text-danger  text-monospace" asp-area="" asp-controller="Home" asp-action="Index">
                    @*<img src="AprajitaRetails02.ico?text=Logo" alt="AprajitaRetails" class="small ">*@ AR
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if ( Context.User.Identity.IsAuthenticated )
                        {
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="Sales" asp-controller="DailySales" asp-action="Index">Daily Sale</a></li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accounts</a>
                                <div class="dropdown-menu " aria-labelledby="dropdown01">
                                    @if ( Context.User.IsInRole ("Admin") )
                                    {
                                        <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="Parties" asp-action="Index">Parties</a>
                                        <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="LedgerEntries" asp-action="Index">Ledger Entries</a>
                                        <p role="separator" class="dropdown-divider"></p>
                                        <a class="dropdown-item text-dark" asp-area="Purchase" asp-controller="PurchaseTaxTypes" asp-action="Index">Input Tax</a>
                                        <a class="dropdown-item text-dark" asp-area="Sales" asp-controller="SaleTaxTypes" asp-action="Index">Output Tax</a>
                                        <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="SuspenseAccounts" asp-action="Index">Suspense Accounts</a>
                                        <p role="separator" class="dropdown-divider"></p>
                                        <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="CashInHands" asp-action="Index">Cash-In-Hands</a>
                                        <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="CashInBanks" asp-action="Index">Cash-In-Banks</a>
                                        <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="TranscationModes" asp-action="Index">Trans Modes</a>
                                        <p role="separator" class="dropdown-divider"></p>
                                    }
                                    @if ( Context.User.IsInRole ("Admin") || Context.User.IsInRole ("StoreManager") )
                                    {
                                        <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="CashBook" asp-action="Index">CashBook</a>
                                    }
                                    <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="CashReceipts" asp-action="Index">Cash Receipts</a>
                                    <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="Receipts" asp-action="Index">Receipts</a>
                                    <p role="separator" class="dropdown-divider"></p>
                                    <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="DueRecoverds" asp-action="Index">Dues Recoverds</a>
                                    <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="DuesLists" asp-action="Index">Dues List</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sale/Purchase</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item text-dark" asp-area="Purchase" asp-controller="ProductPurchases" asp-action="Index">Product Purchases</a>
                                    <a class="dropdown-item text-dark" asp-area="Purchase" asp-controller="ProductItems" asp-action="Index">Product Items</a>
                                    <a class="dropdown-item text-dark" asp-area="Purchase" asp-controller="Stocks" asp-action="Index">Stocks</a>
                                    <p role="separator" class="dropdown-divider"></p>
                                    <a class="dropdown-item text-dark" asp-area="Sales" asp-controller="SaleInvoices" asp-action="Index">Sale Invoices</a>
                                    <p role="separator" class="dropdown-divider"></p>
                                    <a class="dropdown-item text-dark" asp-area="Sales" asp-controller="ManualInvoice" asp-action="Index">Manual Invoice</a>
                                    <p role="separator" class="dropdown-divider"></p>
                                    <a class="dropdown-item text-dark" asp-area="Sales" asp-controller="OnlineSales" asp-action="Index">Online Sale</a>
                                    <a class="dropdown-item text-dark" asp-area="Sales" asp-controller="OnlineSaleReturns" asp-action="Index">Online Sale Return</a>
                                    <a class="dropdown-item text-dark" asp-area="Sales" asp-controller="OnlineVendors" asp-action="Index">Online Vendors</a>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tailoring</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item text-dark" asp-area="Tailoring" asp-controller="TalioringBookings" asp-action="Index">Bookings</a>
                                    <a class="dropdown-item text-dark" asp-area="Tailoring" asp-controller="TalioringDeliveries" asp-action="Index">Delivery</a>
                                    <p role="separator" class="dropdown-divider"></p>

                                    @if (Context.User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item text-dark" asp-area="Tailoring" asp-controller="TailorAttendances" asp-action="Index">Attendances</a>
                                        <p role="separator" class="dropdown-divider"></p>
                                        <a class="dropdown-item text-dark" asp-area="Tailoring" asp-controller="TailoringEmployees" asp-action="Index">Tailors</a>
                                        <a class="dropdown-item text-dark" asp-area="Tailoring" asp-controller="TailoringSalaryPayments" asp-action="Index">Salary</a>
                                        <p role="separator" class="dropdown-divider"></p>
                                        <a class="dropdown-item text-dark" asp-area="Tailoring" asp-controller="TailoringStaffAdvancePayments" asp-action="Index">Advance Payments</a>
                                        <a class="dropdown-item text-dark" asp-area="Tailoring" asp-controller="TailoringStaffAdvanceReceipts" asp-action="Index">Advance Receipts</a>
                                    }
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Banking</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item text-dark" asp-area="Banking" asp-controller="BankDeposits" asp-action="Index">Bank Deposits</a>
                                    @if ( Context.User.IsInRole ("Admin") || Context.User.IsInRole ("StoreManager") || Context.User.IsInRole ("PowerUser") )
                                    {<p role="separator" class="dropdown-divider"></p>
                                        <a class="dropdown-item text-dark" asp-area="Banking" asp-controller="AccountNumbers" asp-action="Index">Accounts</a>
                                        <a class="dropdown-item text-dark" asp-area="Banking" asp-controller="ChequesLogs" asp-action="Index">Cheques</a>
                                        <a class="dropdown-item text-dark" asp-area="Banking" asp-controller="BankWithdrawals" asp-action="Index">Bank Withdrawals</a>
                                    }
                                    @if ( Context.User.IsInRole ("Admin") || Context.User.IsInRole ("PowerUser") )
                                    {<p role="separator" class="dropdown-divider"></p>
                                        <a class="dropdown-item text-dark" asp-area="Banking" asp-controller="BankAccountInfoes" asp-action="Index">Bank Accounts</a>
                                        <a class="dropdown-item text-dark" asp-area="Banking" asp-controller="BankAccountSecurityInfoes" asp-action="Index">Account Security Info</a>

                                    }
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PayRoll</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    @if ( Context.User.IsInRole ("Admin") || Context.User.IsInRole ("StoreManager") || Context.User.IsInRole ("PowerUser") )
                                    {
                                        <a class="dropdown-item text-dark" asp-area="PayRoll" asp-controller="Employees" asp-action="Index">Employee</a>
                                        <a class="dropdown-item text-dark" asp-area="PayRoll" asp-controller="SalaryPayments" asp-action="Index">Salary</a>
                                        <a class="dropdown-item text-dark" asp-area="PayRoll" asp-controller="StaffAdvancePayments" asp-action="Index">Advance Payments</a>
                                        <a class="dropdown-item text-dark" asp-area="PayRoll" asp-controller="StaffAdvanceReceipts" asp-action="Index">Advance Receipts</a>
                                        @if ( Context.User.IsInRole ("Admin") || Context.User.IsInRole ("PowerUser") )
                                        {<p role="separator" class="dropdown-divider"></p>
                                            <a class="dropdown-item text-dark" asp-area="PayRoll" asp-controller="CurrentSalaries" asp-action="Index">Current Salary</a>
                                        }
                                        <p role="separator" class="dropdown-divider"></p>
                                        <a class="dropdown-item text-dark" asp-area="PayRoll" asp-controller="PaySlips" asp-action="Index">PaySlip</a>
                                    }
                                    <a class="dropdown-item text-dark" asp-area="PayRoll" asp-controller="Attendances" asp-action="Index">Attendances</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cash In/Out</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item text-dark" asp-area="Expenses" asp-controller="Expenses" asp-action="Index">Expenses</a>
                                    <a class="dropdown-item text-dark" asp-area="Expenses" asp-controller="PettyCashExpenses" asp-action="Index">Cash Expenses</a>
                                    <a class="dropdown-item text-dark" asp-area="Expenses" asp-controller="CashPayments" asp-action="Index">Cash Payments</a>
                                    <a class="dropdown-item text-dark" asp-area="Expenses" asp-controller="Payments" asp-action="Index">Payments</a>
                                    <p role="separator" class="dropdown-divider"></p>
                                    <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="CashReceipts" asp-action="Index">Cash Receipts</a>
                                    <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="Receipts" asp-action="Index">Receipts</a>
                                    <p role="separator" class="dropdown-divider"></p>
                                    <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="DueRecoverds" asp-action="Index">Dues Recoverds</a>


                                </div>
                            </li>
                            @if ( Context.User.IsInRole ("Admin") || Context.User.IsInRole ("StoreManager") || Context.User.IsInRole ("PowerUser") )
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                                        @if ( Context.User.IsInRole ("Admin") )
                                        {
                                            <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Role" asp-action="Index">Role</a>
                                            <a class="dropdown-item text-dark" asp-area="Voyager" asp-controller="Stores" asp-action="Index">Stores</a>
                                            <a class="dropdown-item text-dark" asp-area="" asp-controller="EndOfDays" asp-action="Index">End Of Days List</a>
                                            <p role="separator" class="dropdown-divider"></p>
                                        }
                                        @if ( Context.User.IsInRole ("PowerUser") || Context.User.IsInRole ("Admin") )
                                        {
                                            <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="SuspenseAccounts" asp-action="Index">Suspense Accounts</a>
                                            <a class="dropdown-item text-dark" asp-area="" asp-controller="IncomeExpensesReport" asp-action="Index">Income & Expense Report</a>
                                            <a class="dropdown-item text-dark" asp-area="" asp-controller="IncomeExpensesReport" asp-action="IEReport">Balance Sheet</a>
                                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Exporter" asp-action="Index">Exporter</a>
                                            <p role="separator" class="dropdown-divider"></p>

                                        }

                                        <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="CashBook" asp-action="Index">CashBook</a>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="EndOfDays" asp-action="Create">End Of Days</a>
                                        <a class="dropdown-item text-dark" asp-area="Voyager" asp-controller="Customers" asp-action="Index">Customer</a>


                                    </div>
                                </li>
                            }
                            @if ( Context.User.IsInRole ("Admin") )
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Imports</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                                        @*<a class="dropdown-item text-dark" asp-area="Uploader" asp-controller="ExcelUploader" asp-action="Index">Excel Uploader</a>
                                        <p role="separator" class="dropdown-divider"></p>*@
                                        <a class="dropdown-item text-dark" asp-area="Uploader" asp-controller="SalesUploader" asp-action="Index">Upload Sales</a>
                                        <a class="dropdown-item text-dark" asp-area="Uploader" asp-controller="SalesUploader" asp-action="SaleList">Sale List</a>
                                        <p role="separator" class="dropdown-divider"></p>
                                        <a class="dropdown-item text-dark" asp-area="Uploader" asp-controller="PurchaseUploader" asp-action="Index">Upload Purchase</a>
                                        <a class="dropdown-item text-dark " asp-area="Uploader" asp-controller="PurchaseUploader" asp-action="ListUpLoad">Purchase List</a>
                                        <p role="separator" class="dropdown-divider"></p>
                                        <a class="dropdown-item text-dark" asp-area="Uploader" asp-controller="ImportInWards" asp-action="Index">Import InWards</a>
                                        <a class="dropdown-item text-dark" asp-area="Uploader" asp-controller="ImportPurchases" asp-action="Index">Import Purchases</a>
                                        <a class="dropdown-item text-dark" asp-area="Uploader" asp-controller="ImportSaleItemWises" asp-action="Index">Import Sale ItemWises</a>
                                        <a class="dropdown-item text-dark" asp-area="Uploader" asp-controller="ImportSaleRegisters" asp-action="Index">Import Sale Registers</a>
                                        <p role="separator" class="dropdown-divider"></p>
                                        <a class="dropdown-item text-dark" asp-area="Uploader" asp-controller="ImportAttendance" asp-action="Index">Import Attandence</a>
                                        <a class="dropdown-item text-dark" asp-area="Uploader" asp-controller="ImportAddressBook" asp-action="Index">Import AddressBook</a>
                                    </div>
                                </li>
                            }
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Supports</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                @*<a class="dropdown-item text-dark" asp-area="Chat" asp-controller="ARChat" asp-action="Index">Chat</a>*@
                                <a class="dropdown-item text-success" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                                <a class="dropdown-item text-primary" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                <a class="dropdown-item text-warning" icon="~/Telegramx.jpg" href="https://play.google.com/store/apps/details?id=org.thunderdog.challegram&hl=en">Telegram X</a>

                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container-fluid">
        @if ( Context.User.Identity.IsAuthenticated )
        {
            <div class="nav-scroller aqua-gradient-rgba shadow-sm " role="toolbar">
                <nav class="nav nav-underline">
                    <a class="nav-link active" href="#"> <span data-feather="home"></span>Dashboard</a>
                    <a class="nav-link purple-text" asp-area="Sales" asp-controller="DailySales" asp-action="Index">Daily Sale <span class="badge badge-pill bg-dark align-text-bottom">@ViewBag.SaleData</span></a>
                    @*<a class="nav-link" href="#">Sale</a>
                        <a class="nav-link" href="#">Purchase</a>*@
                    <a class="nav-link" asp-area="Sales" asp-controller="ManualInvoice" asp-action="Index">Manual Bill</a>
                    <a class="nav-link" asp-area="PayRoll" asp-controller="Attendances" asp-action="Index">Attendance</a>
                    <a class="nav-link" asp-area="Expenses" asp-controller="PettyCashExpenses" asp-action="Index">Cash Expenses</a>
                    <a class="nav-link" asp-area="Expenses" asp-controller="CashPayments" asp-action="Index">Cash Payments</a>
                    <a class="nav-link" asp-area="Tailoring" asp-controller="TalioringBookings" asp-action="Index">Booking</a>
                    <a class="nav-link" asp-area="Tailoring" asp-controller="TalioringDeliveries" asp-action="Index">Delivery</a>
                    @*<a class="nav-link" asp-area="AddressBook" asp-controller="Contacts" asp-action="Index">AddressBook</a>*@
                    @if ( Context.User.IsInRole ("Admin") || Context.User.IsInRole ("StoreManager") )
                    {
                        <a class="nav-link" asp-area="Accounts" asp-controller="CashBook" asp-action="Index">CashBook</a>
                        <a class="nav-link " asp-area="Voyager" asp-controller="ArvindPayments" asp-action="Index">Arvind Payments</a>
                    }
                </nav>
            </div>
        }
        <div class="row">
            @if ( Context.User.Identity.IsAuthenticated )
            {<partial name="_SideBarMenu" />}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-9 pt-3 px-4 pb-3">
                @RenderBody()
            </main>

            <div class="col-md-1 d-none d-md-block bg-light border">
                <div class="row flex-row row-cols-1 bg-white border">
                    <p class="text-success small justify-content-center"> Message Board</p>
                    <p>
                        <h7> Features Coming Soon!!!</h7>
                        <ol class="small">
                            <li>Here Message will be displayed</li>
                            <li>Message will be based on User(s)</li>
                            <li>You can also send message or chat with user(s)</li>
                            <li>Public Chat also coming!</li>
                        </ol>

                    </p>
                    @*<p class="text-danger"> Thought of Day:</p>*@
                </div>
                    @*<div class="row row-cols-1 bg-white border">                      
                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <partial name="TodoList" />
                            <br />
                        }
                    </div>*@
                    <div class="row flex-row row-cols-1 bg-warning border">
                        @*<div class="col-md-1 d-none d-md-block bg-light border">*@
                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <partial name="TodoList" />
                            <br />
                        }
                    </div>
                </div>
               
            </div>
        </div>
    @*</div>*@
    <footer class="border-top footer  font-small text-muted ">
        <div class="container">@*@{ DateTime d = DateTime.Now;
           d= d.ToIST ();
            }
        Date: @d.ToString()*@  &copy; 2020 - Aprajita Retails - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/mdb/js/mdb.min.js"></script>
    <script src="~/lib/mdb/js/popper.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script>
        (function () {
            'use strict'
            feather.replace()
        }())
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
