@using Microsoft.AspNetCore.Identity
@using AprajitaRetails.Areas.ToDo.Interfaces
@inject UserManager<IdentityUser> UserManager
@inject ITodoItemService TodoService

<div class="card">
    <h5 class="card-header  purple-text">
        To Do
        <span class="float-right" aria-hidden="true"> <a asp-action="Create" asp-area="ToDo" asp-controller="Todos" class="mt-3 ml-3 text-success small"><span data-feather="plus-circle"></span></a></span>
    </h5>
    <div class="card-body">
        <h6 class="card-title teal-text small">Recent:</h6>
        <ol class="list-group list-group-flush">
            @foreach (var item in TodoService.GetRecentlyAddedItemsAsync(UserManager.GetUserAsync(User).Result).Result.ToList())

            {
                <li class="treeview-animated-list font-small text-success"><a asp-action="Details" asp-area="ToDo" asp-controller="Todos" asp-route-id="@item.Id"> @item.Title</a></li>
            }
        </ol>
        <h6 class="card-title text-danger small mt-3">Due:</h6>
        <ol class="list-group list-group-flush">
            @foreach (var item in TodoService.GetMonthlyItems(UserManager.GetUserAsync(User).Result, DateTime.Today.Month).Result.ToList())

            {
                <li class="treeview-animated-list font-small blue-text"><a asp-action="Details" asp-area="ToDo" asp-controller="Todos" asp-route-id="@item.Id">@item.Title</a></li>
            }
        </ol>
        <h6 class="card-title text-danger small mt-3">Public:</h6>
        <ol class="list-group list-group-flush">
            @foreach (var item in TodoService.GetIncompletePublicItemsAsync().Result.ToList())

            {
                <li class="treeview-animated-listfont-small blue-text"><a asp-action="Details" asp-area="ToDo" asp-controller="Todos" asp-route-id="@item.Id">@item.Title</a></li>
            }
        </ol>
    </div>
</div>

