@model AprajitaRetails.Models.ChequesLog

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Cheques Log</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChequesDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChequesDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClearedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClearedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuedTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPDC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPDC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsIssuedByAprajitaRetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsIssuedByAprajitaRetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDepositedOnAprajitaRetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDepositedOnAprajitaRetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
   <a  class="btn btn-outline-amber btn-sm" asp-action="Edit" asp-route-id="@Model.ChequesLogId">Edit</a>
  
</div>
