@model PaginatedList<AprajitaRetails.Models.PettyCashExpense>

@{
    ViewData["Title"] = "Cash Expenses";
}

<h1 class="text-danger">Cash Expense</h1>

<p>
   <a  class="btn btn-outline-success btn-sm" asp-action="Create" data_modal="" id="create">Create New</a>
</p>
<table class="table table-sm table-bordered table-hover table-striped">
     <thead class="bg-success">
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().ExpDate)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Particulars)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Amount)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().PaidBy)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().PaidTo)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
     <tbody class="bg-white">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Particulars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidBy.StaffName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td class="btn-group btn-group-sm">
               <a  class="btn btn-outline-amber " asp-action="Edit" asp-route-id="@item.PettyCashExpenseId" data_modal="" id="edit">Edit</a> 
               <a  class="btn btn-outline-info " asp-action="Details" asp-route-id="@item.PettyCashExpenseId" data_modal="" id="detail">Details</a> 
               <a  class="btn btn-outline-danger " asp-action="Delete" asp-route-id="@item.PettyCashExpenseId" data_modal="" id="delete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_ModalPop" />