@model PaginatedList<AprajitaRetails.Areas.AddressBook.Models.Contact>

@{
    ViewData ["Title"] = "Address Book";
}

<h1 class="text-default">Address Book</h1>

<p>
    <a class="btn btn-success btn-sm" asp-action="Create" id="create" data_modal="">Create</a>
</p>
<form asp-action="Index" method="get">
    <div>
        <strong>
            <span class="glyphicon glyphicon-search"> </span>  Name:
            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class=" btn btn-outline-warning btn-sm " />
            <a asp-action="Index" class="btn btn-sm btn-outline-amber" >All</a>
        </strong>
    </div>
</form>
    <table class="table table-sm   table-hover table-striped table-bordered">
        <thead class="bg-success">
            <tr>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameParm"]">@Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)</a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameParm"]"> @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)</a></th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().MobileNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().EMailAddress)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Remarks)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody class="table-danger">
            @foreach ( var item in Model )
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMailAddress)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>*@
                    <td class="btn-group  btn-group-sm">
                        <a asp-action="Edit" asp-route-id="@item.ContactId" class="btn btn-outline-secondary " id="edit" data_modal="">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ContactId" class="btn btn-outline-deep-orange " id="detail" data_modal="">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ContactId" class="btn btn-outline-danger " id="delete" data_modal="">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_ModalPop" />
