@model IEnumerable<StoneWorks.Models.BasicExpense>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Particular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Particular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BasicExpenseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BasicExpenseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BasicExpenseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
