@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



@*<link rel='stylesheet' id='dashicons-css' href='https://mdbootstrap.com/wp-includes/css/dashicons.min.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='admin-bar-css' href='https://mdbootstrap.com/wp-includes/css/admin-bar.min.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-library-css' href='https://mdbootstrap.com/wp-includes/css/dist/block-library/style.min.css?ver=5.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='wc-block-vendors-style-css' href='https://mdbootstrap.com/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style.css?ver=3.1.0' type='text/css' media='all' />
<link rel='stylesheet' id='wc-block-style-css' href='https://mdbootstrap.com/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css?ver=3.1.0' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css' href='https://mdbootstrap.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.2.2' type='text/css' media='all' />*@
@*<style id='woocommerce-inline-inline-css' type='text/css'>
    .woocommerce form .form-row .required {
        visibility: visible;
    }
</style>*@
@*<link rel='stylesheet' id='wsl-widget-css' href='https://mdbootstrap.com/wp-content/plugins/wordpress-social-login/assets/css/style.css?ver=5.5.1' type='text/css' media='all' />*@
@*<link rel='stylesheet' id='compiled.css-css' href='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.19.1.min.css?ver=4.19.1' type='text/css' media='all' />*@

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-link">Link</button>

<div class="row">
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>
    </div>
</div>
<div class="row">
    <div class="btn-group btn-group-sm">
        <a href="#" class="btn btn-outline-primary btn-sm">Primary</a>
        <a href="#" class="btn btn-outline-secondary btn-sm">Secondary</a>
        <a href="#" class="btn btn-outline-success btn-sm">Success</a>
    </div>
</div>

<h5 class="pt-5 pb-4 mb-4">Additional buttons</h5>

<!--Elegant-->
<button type="button" class="btn btn-elegant">Elegant</button>

<!--Unique-->
<button type="button" class="btn btn-unique">Unique</button>

<!--Pink-->
<button type="button" class="btn btn-pink">Pink</button>

<!--Purple-->
<button type="button" class="btn btn-purple">Purple</button>

<!--Deep-purple-->
<button type="button" class="btn btn-deep-purple">Deep-purple</button>

<!--Indigo-->
<button type="button" class="btn btn-indigo">Indigo</button>

<!--Light blue-->
<button type="button" class="btn btn-light-blue">Light blue</button>

<!--Cyan-->
<button type="button" class="btn btn-cyan">Cyan</button>

<!--Dark-green-->
<button type="button" class="btn btn-dark-green">Dark-green</button>

<!--Light-green-->
<button type="button" class="btn btn-light-green">Light-green</button>

<!--Yellow-->
<button type="button" class="btn btn-yellow">Yellow</button>

<!--Amber-->
<button type="button" class="btn btn-amber">Amber</button>

<!--Deep-orange-->
<button type="button" class="btn btn-deep-orange">Deep-orange</button>

<!--Brown-->
<button type="button" class="btn btn-brown">Brown</button>

<!--Blue-grey-->
<button type="button" class="btn btn-blue-grey">Grey</button>

<!--MDB-->
<button type="button" class="btn btn-mdb-color">MDB</button>


<h5 class="pt-5 pb-4 mb-4">Gradient buttons</h5>

<button class="btn peach-gradient btn-rounded">Peach</button>
<button class="btn purple-gradient btn-rounded">Purple</button>
<button class="btn blue-gradient btn-rounded">Blue</button>
<button class="btn aqua-gradient btn-rounded">Aqua</button>


<h5 class="pt-5 pb-4 mb-4">Outline buttons</h5>

<button type="button" class="btn btn-outline-primary waves-effect">Primary</button>
<button type="button" class="btn btn-outline-default waves-effect">Default</button>
<button type="button" class="btn btn-outline-secondary waves-effect">Secondary</button>
<button type="button" class="btn btn-outline-success waves-effect">Success</button>
<button type="button" class="btn btn-outline-info waves-effect">Info</button>
<button type="button" class="btn btn-outline-warning waves-effect">Warning</button>
<button type="button" class="btn btn-outline-danger waves-effect">Danger</button>


<h5 class="pt-5 pb-4 mb-4">Rounded buttons</h5>

<button type="button" class="btn btn-primary btn-rounded">Primary</button>
<button type="button" class="btn btn-default btn-rounded">Default</button>
<button type="button" class="btn btn-secondary btn-rounded">Secondary</button>
<button type="button" class="btn btn-success btn-rounded">Success</button>
<button type="button" class="btn btn-info btn-rounded">Info</button>
<button type="button" class="btn btn-warning btn-rounded">Warning</button>
<button type="button" class="btn btn-danger btn-rounded">Danger</button>


<h5 class="pt-5 pb-4 mb-4">Rounded outline buttons</h5>

<button type="button" class="btn btn-outline-primary btn-rounded waves-effect">Primary</button>
<button type="button" class="btn btn-outline-default btn-rounded waves-effect">Default</button>
<button type="button" class="btn btn-outline-secondary btn-rounded waves-effect">Secondary</button>
<button type="button" class="btn btn-outline-success btn-rounded waves-effect">Success</button>
<button type="button" class="btn btn-outline-info btn-rounded waves-effect">Info</button>
<button type="button" class="btn btn-outline-warning btn-rounded waves-effect">Warning</button>
<button type="button" class="btn btn-outline-danger btn-rounded waves-effect">Danger</button>

<h5 class="pt-5 pb-4 mb-4">Floating buttons</h5>

<a class="btn-floating btn-lg purple-gradient my-0">
    <i class="fas fa-bolt"></i>
</a>
<a class="btn-floating peach-gradient my-0">
    <i class="fas fa-leaf"></i>
</a>
<a class="btn-floating btn-sm blue-gradient my-0">
    <i class="fas fa-star"></i>
</a>


<h5 class="pt-5 pb-4 mb-4">Sizes</h5>

<button type="button" class="btn peach-gradient btn-lg">Large button</button>
<button type="button" class="btn purple-gradient btn-lg">Large button</button>
<button type="button" class="btn peach-gradient btn-sm">Small button</button>
<button type="button" class="btn purple-gradient btn-sm">Small button</button>




<h5 class="pt-5 pb-4 mb-4">Checkbox and Radio buttons</h5>

<div class="btn-group btn-group-toggle d-flex flex-column flex-md-row py-1" data-toggle="buttons">
    <label class="btn btn-primary active">
        <input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"> Checkbox 2
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"> Checkbox 3
    </label>
</div>

<div class="btn-group btn-group-toggle d-flex flex-column flex-md-row py-1" data-toggle="buttons">
    <label class="btn btn-primary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
    </label>
</div>

      </section>
<!--Section: Buttons-->

<hr class="my-5">

<!--Section: Social Buttons-->
<section id="social-buttons" class="text-center">

    <!--Section heading-->
    <h3 class="section-heading mb-5 h1 mt-0">Social Buttons</h3>

    <h5 class="pb-4 mb-4">Full name social buttons</h5>

    <!--Facebook-->
    <button type="button" class="btn btn-fb">
        <i class="fab fa-facebook-f left"></i> Facebook
    </button>
    <!--Twitter-->
    <button type="button" class="btn btn-tw">
        <i class="fab fa-twitter left"></i> Twitter
    </button>
    <!--Google +-->
    <button type="button" class="btn btn-gplus">
        <i class="fab fa-google-plus-g left"></i> Google +
    </button>
    <!--Linkedin-->
    <button type="button" class="btn btn-li">
        <i class="fab fa-linkedin-in left"></i> Linkedin
    </button>
    <!--Instagram-->
    <button type="button" class="btn btn-ins">
        <i class="fab fa-instagram left"></i> Instagram
    </button>
    <!--Pinterest-->
    <button type="button" class="btn btn-pin">
        <i class="fab fa-pinterest left"></i> Pinterest
    </button>
    <!--Youtube-->
    <button type="button" class="btn btn-yt">
        <i class="fab fa-youtube left"></i> Youtube
    </button>
    <!--Vkontakte-->
    <button type="button" class="btn btn-vk">
        <i class="fab fa-vk left"></i> Vkontakte
    </button>
    <!--Stack Overflow-->
    <button type="button" class="btn btn-so">
        <i class="fab fa-stack-overflow left"></i> Stack Overflow
    </button>
    <!--Slack-->
    <button type="button" class="btn btn-slack">
        <i class="fab fa-slack-hash left"></i> Slack
    </button>
    <!--Github-->
    <button type="button" class="btn btn-git">
        <i class="fab fa-github left"></i> Github
    </button>
    <!--Comments-->
    <button type="button" class="btn btn-comm">
        <i class="fas fa-comments left"></i> Comments
    </button>
    <!--Email-->
    <button type="button" class="btn btn-email">
        <i class="fas fa-envelope left"></i> Email
    </button>
    <!--Dribbble-->
    <button type="button" class="btn btn-dribbble">
        <i class="fab fa-dribbble left"></i> Dribbble
    </button>


    <h5 class="pt-5 pb-4 mb-4">Simple social buttons</h5>

    <!--Facebook-->
    <button type="button" class="btn btn-fb">
        <i class="fab fa-facebook-f"></i>
    </button>
    <!--Twitter-->
    <button type="button" class="btn btn-tw">
        <i class="fab fa-twitter"></i>
    </button>
    <!--Google +-->
    <button type="button" class="btn btn-gplus">
        <i class="fab fa-google-plus-g"></i>
    </button>
    <!--Linkedin-->
    <button type="button" class="btn btn-li">
        <i class="fab fa-linkedin-in"></i>
    </button>
    <!--Instagram-->
    <button type="button" class="btn btn-ins">
        <i class="fab fa-instagram"></i>
    </button>
    <!--Pinterest-->
    <button type="button" class="btn btn-pin">
        <i class="fab fa-pinterest"></i>
    </button>
    <!--Youtube-->
    <button type="button" class="btn btn-yt">
        <i class="fab fa-youtube"></i>
    </button>
    <!--Dribbble-->
    <button type="button" class="btn btn-dribbble">
        <i class="fab fa-dribbble left"></i>
    </button>
    <!--Vkontakte-->
    <button type="button" class="btn btn-vk">
        <i class="fab fa-vk"></i>
    </button>
    <!--Stack Overflow-->
    <button type="button" class="btn btn-so">
        <i class="fab fa-stack-overflow"></i>
    </button>
    <!--Slack-->
    <button type="button" class="btn btn-slack">
        <i class="fab fa-slack-hash"></i>
    </button>
    <!--Github-->
    <button type="button" class="btn btn-git">
        <i class="fab fa-github"></i>
    </button>
    <!--Comments-->
    <button type="button" class="btn btn-comm">
        <i class="fas fa-comments"></i>
    </button>
    <!--Email-->
    <button type="button" class="btn btn-email">
        <i class="fas fa-envelope"></i>
    </button>


    <h5 class="pt-5 pb-4 mb-4">Floating social buttons</h5>

    <!--Facebook-->
    <a type="button" class="btn-floating my-1 btn-fb">
        <i class="fab fa-facebook-f"></i>
    </a>
    <!--Twitter-->
    <a type="button" class="btn-floating my-1 btn-tw">
        <i class="fab fa-twitter"></i>
    </a>
    <!--Google +-->
    <a type="button" class="btn-floating my-1 btn-gplus">
        <i class="fab fa-google-plus-g"></i>
    </a>
    <!--Linkedin-->
    <a type="button" class="btn-floating my-1 btn-li">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <!--Instagram-->
    <a type="button" class="btn-floating my-1 btn-ins">
        <i class="fab fa-instagram"></i>
    </a>
    <!--Pinterest-->
    <a type="button" class="btn-floating my-1 btn-pin">
        <i class="fab fa-pinterest"></i>
    </a>
    <!--Youtube-->
    <a type="button" class="btn-floating my-1 btn-yt">
        <i class="fab fa-youtube"></i>
    </a>
    <!--Dribbble-->
    <a type="button" class="btn-floating my-1 btn-dribbble">
        <i class="fab fa-dribbble"></i>
    </a>
    <!--Vkontakte-->
    <a type="button" class="btn-floating my-1 btn-vk">
        <i class="fab fa-vk"></i>
    </a>
    <!--Stack Overflow-->
    <a type="button" class="btn-floating my-1 btn-so">
        <i class="fab fa-stack-overflow"></i>
    </a>
    <!--Slack-->
    <a type="button" class="btn-floating my-1 btn-slack">
        <i class="fab fa-slack-hash"></i>
    </a>
    <!--Github-->
    <a type="button" class="btn-floating my-1 btn-git">
        <i class="fab fa-github"></i>
    </a>
    <!--Comments-->
    <a type="button" class="btn-floating my-1 btn-comm">
        <i class="fas fa-comments"></i>
    </a>
    <!--Email-->
    <a type="button" class="btn-floating my-1 btn-email">
        <i class="fas fa-envelope"></i>
    </a>


    <h5 class="pt-5 pb-4 mb-4">Full name social counters</h5>

    <button type="button" class="btn btn-fb">
        <i class="fab fa-facebook-f left"></i>
        <span>Facebook</span>
    </button>
    <span class="counter">22</span>

    <!--Twitter-->
    <button type="button" class="btn btn-tw">
        <i class="fab fa-twitter left"></i>
        <span>Twitter</span>
    </button>
    <span class="counter">22</span>

    <!--Google +-->
    <button type="button" class="btn btn-gplus">
        <i class="fab fa-google-plus-g left"></i>
        <span>Google+</span>
    </button>
    <span class="counter">22</span>

    <!--Linkedin-->
    <button type="button" class="btn btn-li">
        <i class="fab fa-linkedin-in left"></i>
        <span>Linkedin</span>
    </button>
    <span class="counter">22</span>

    <!--Instagram-->
    <button type="button" class="btn btn-ins">
        <i class="fab fa-instagram left"></i>
        <span>Instagram</span>
    </button>
    <span class="counter">22</span>

    <!--Pinterest-->
    <button type="button" class="btn btn-pin">
        <i class="fab fa-pinterest left"></i>
        <span>Pinterest</span>
    </button>
    <span class="counter">22</span>

    <!--Youtube-->
    <button type="button" class="btn btn-yt">
        <i class="fab fa-youtube left"></i>
        <span>Youtube</span>
    </button>
    <span class="counter">22</span>

    <!--Dribbble-->
    <button type="button" class="btn btn-dribbble">
        <i class="fab fa-dribbble left"></i>
        <span>Dribbble</span>
    </button>
    <span class="counter">22</span>

    <!--Vkontakte-->
    <button type="button" class="btn btn-vk">
        <i class="fab fa-vk left"></i>
        <span>Vkontakte</span>
    </button>
    <span class="counter">22</span>

    <!--Stack Overflow-->
    <button type="button" class="btn btn-so">
        <i class="fab fa-stack-overflow left"></i>
        <span>Stack Overflow</span>
    </button>
    <span class="counter">22</span>

    <!--Slack-->
    <button type="button" class="btn btn-slack">
        <i class="fab fa-slack-hash left"></i>
        <span>Slack</span>
    </button>
    <span class="counter">22</span>

    <!--Github-->
    <button type="button" class="btn btn-git">
        <i class="fab fa-github left"></i>
        <span>Github</span>
    </button>
    <span class="counter">22</span>

    <!--Comments-->
    <button type="button" class="btn btn-comm">
        <i class="fas fa-comments left"></i>
        <span>Comments</span>
    </button>
    <span class="counter">22</span>

    <!--Emails-->
    <button type="button" class="btn btn-email">
        <i class="fas fa-envelope left"></i>
        <span>Emails</span>
    </button>
    <span class="counter">22</span>


    <h5 class="pt-5 pb-4 mb-4">Simple social counters</h5>

    <!--Facebook-->
    <button type="button" class="btn btn-fb">
        <i class="fab fa-facebook-f"></i>
    </button>
    <span class="counter">22</span>

    <!--Twitter-->
    <button type="button" class="btn btn-tw">
        <i class="fab fa-twitter"></i>
    </button>
    <span class="counter">22</span>

    <!--Google +-->
    <button type="button" class="btn btn-gplus">
        <i class="fab fa-google-plus-g"></i>
    </button>
    <span class="counter">22</span>

    <!--Linkedin-->
    <button type="button" class="btn btn-li">
        <i class="fab fa-linkedin-in"></i>
    </button>
    <span class="counter">22</span>

    <!--Instagram-->
    <button type="button" class="btn btn-ins">
        <i class="fab fa-instagram"></i>
    </button>
    <span class="counter">22</span>

    <!--Pinterest-->
    <button type="button" class="btn btn-pin">
        <i class="fab fa-pinterest"></i>
    </button>
    <span class="counter">22</span>

    <!--Youtube-->
    <button type="button" class="btn btn-yt">
        <i class="fab fa-youtube"></i>
    </button>
    <span class="counter">22</span>

    <!--Dribbble-->
    <button type="button" class="btn btn-dribbble">
        <i class="fab fa-dribbble left"></i>
    </button>
    <span class="counter">22</span>

    <!--Vkontakte-->
    <button type="button" class="btn btn-vk">
        <i class="fab fa-vk"></i>
    </button>
    <span class="counter">22</span>

    <!--Stack Overflow-->
    <button type="button" class="btn btn-so">
        <i class="fab fa-stack-overflow"></i>
    </button>
    <span class="counter">22</span>

    <!--Slack-->
    <button type="button" class="btn btn-slack">
        <i class="fab fa-slack-hash"></i>
    </button>
    <span class="counter">22</span>

    <!--Github-->
    <button type="button" class="btn btn-git">
        <i class="fab fa-github"></i>
    </button>
    <span class="counter">22</span>

    <!--Comments-->
    <button type="button" class="btn btn-comm">
        <i class="fas fa-comments"></i>
    </button>
    <span class="counter">22</span>

    <!--Emails-->
    <button type="button" class="btn btn-email">
        <i class="fas fa-envelope"></i>
    </button>
    <span class="counter">22</span>


    <h5 class="pt-5 pb-4 mb-4">Social icons</h5>

    <!--Facebook-->
    <a class="fa-lg p-2 m-2 fb-ic">
        <i class="fab fa-facebook-f"> </i>
    </a>
    <!--Twitter-->
    <a class="fa-lg p-2 m-2 tw-ic">
        <i class="fab fa-twitter"> </i>
    </a>
    <!--Google +-->
    <a class="fa-lg p-2 m-2 gplus-ic">
        <i class="fab fa-google-plus-g"> </i>
    </a>
    <!--Linkedin-->
    <a class="fa-lg p-2 m-2 li-ic">
        <i class="fab fa-linkedin-in"> </i>
    </a>
    <!--Instagram-->
    <a class="fa-lg p-2 m-2 ins-ic">
        <i class="fab fa-instagram"> </i>
    </a>
    <!--Pinterest-->
    <a class="fa-lg p-2 m-2 pin-ic">
        <i class="fab fa-pinterest"> </i>
    </a>
    <!--Vkontakte-->
    <a class="fa-lg p-2 m-2 vk-ic">
        <i class="fab fa-vk"> </i>
    </a>
    <!--Youtube-->
    <a class="fa-lg p-2 m-2 yt-ic">
        <i class="fab fa-youtube"> </i>
    </a>
    <!--Dribbble-->
    <a class="fa-lg p-2 m-2 dribbble-ic">
        <i class="fab fa-dribbble"> </i>
    </a>
    <!--Stack Overflow-->
    <a class="fa-lg p-2 m-2 so-ic">
        <i class="fab fa-stack-overflow"> </i>
    </a>
    <!--Slack-->
    <a class="fa-lg p-2 m-2 slack-ic">
        <i class="fab fa-slack-hash"> </i>
    </a>
    <!--Github-->
    <a class="fa-lg p-2 m-2 git-ic">
        <i class="fab fa-github"> </i>
    </a>
    <!--Comments-->
    <a class="fa-lg p-2 m-2 comm-ic">
        <i class="fas fa-comments"> </i>
    </a>
    <!--Email-->
    <a class="fa-lg p-2 m-2 email-ic">
        <i class="fas fa-envelope-o"> </i>
    </a>

</section>
<!--Section: Social Buttons-->
@*<h2>Testing of Bio Metric Devices </h2>



    <div>
        <form method="post" asp-action="Index">
            <div class="form-row">
                <div class="form-control">
                    Ip Address: <input type="text" name="ipAddress" id="ipAddress" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    Port No: <input type="number" name="portNo" id="portNo" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <input type="submit" value="Connect" name="submit" id="submit" />
                </div>
            </div>

        </form>

        <p class="text-danger"> @ViewBag.Connected</p>
        <p class="text-success"> @ViewBag.ListItem</p>

    </div>*@

<div class="row text-success">
    @*<select asp-items="@ViewBag.TimeZones" name="TIMEZONE" id="TIMEZONE">
            <option value="">Select</option>
        </select>*@
    @using (Html.BeginForm("Index", "TestBio", FormMethod.Post))
    {
        @Html.DropDownList("TIMEZONE",
                   ViewBag.TimeZones as List<SelectListItem>)

        <input type="submit" value="Show" />
    }

    <br />
</div>

<div>
    <p>@ViewBag.TIMEID</p>
    <p>@ViewBag.TIMEZONENAME</p>
    <p>@ViewBag.TIMEVALUE</p>
</div>





@*<script type='text/javascript' src='https://mdbootstrap.com/wp-admin/load-scripts.php?c=gzip&amp;load%5Bchunk_0%5D=jquery-core&amp;ver=5.5.1'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/bitpay-checkout-for-woocommerce/js/bitpayquickpay_js.js?ver=5.5.1' id='bitpayquickpay-js-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/duracelltomi-google-tag-manager/js/gtm4wp-woocommerce-classic.js?ver=1.11.4' id='gtm4wp-woocommerce-classic-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/duracelltomi-google-tag-manager/js/gtm4wp-woocommerce-enhanced.js?ver=1.11.4' id='gtm4wp-woocommerce-enhanced-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/mdb-search.js?ver=4.19.1-update.1' id='mdb-search.js-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/tutorial-share-counts.js?ver=4.19.1-update.4' id='tutorial-share-counts-js'></script>
<link rel="https://api.w.org/" href="https://mdbootstrap.com/wp-json/" />
<link rel="alternate" type="application/json" href="https://mdbootstrap.com/wp-json/wp/v2/pages/43907" />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://mdbootstrap.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://mdbootstrap.com/wp-includes/wlwmanifest.xml" />
<link rel='shortlink' href='https://mdbootstrap.com/?p=43907' />
<link rel="alternate" type="application/json+oembed" href="https://mdbootstrap.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmdbootstrap.com%2Fdocs%2Fjquery%2Fcomponents%2Fdemo%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://mdbootstrap.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmdbootstrap.com%2Fdocs%2Fjquery%2Fcomponents%2Fdemo%2F&#038;format=xml" />*@
