@model PaginatedList<AprajitaRetails.Models.TailoringStaffAdvancePayment>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-danger">Index</h1>

<p>
   <a  class="btn btn-primary btn-sm" asp-action="Create">Create New</a>
</p>
<table class="table table-sm table-responsive table-hover table-striped">
     <thead class="bg-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th></th>
        </tr>
    </thead>
     <tbody class="bg-info">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.TailoringEmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
               <a  class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.TailoringStaffAdvancePaymentId">Edit</a> |
               <a  class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.TailoringStaffAdvancePaymentId">Details</a> |
               <a  class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.TailoringStaffAdvancePaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_ModalPop" />