@model PaginatedList<AprajitaRetails.Models.AccountNumber>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-danger">Accounts</h1>

<p>
    <a class="btn btn-outline-light-green btn-sm" asp-action="Create" id="create" data_modal="">Create</a>
</p>
<table class="table table-sm table-bordered table-hover table-striped">
     <thead class="bg-success">
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Bank)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Account)
            </th>
            <th></th>
        </tr>
    </thead>
     <tbody class="bg-white">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bank.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td class="btn-group btn-group-sm">
               <a  class="btn btn-outline-amber" id="edit" data_modal="" asp-action="Edit" asp-route-id="@item.AccountNumberId">Edit</a> 
               <a  class="btn btn-outline-info" id="detail" data_modal="" asp-action="Details" asp-route-id="@item.AccountNumberId">Details</a> 
               <a  class="btn btn-outline-danger" id="delete" data_modal="" asp-action="Delete" asp-route-id="@item.AccountNumberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_ModalPop" />
