@model IEnumerable<AprajitaRetails.Models.AccountNumber>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bank.BankId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AccountNumberId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccountNumberId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccountNumberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
