@model PaginatedList<AprajitaRetails.Models.PaySlip>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-danger">Index</h1>

<p>
    <a class="btn btn-outline-light-green btn-sm" asp-action="Create" id="create" data_modal="">Create</a>
    <a class="btn btn-outline-light-blue btn-sm" asp-action="GeneratePaySlip" id="paySlip" data_modal="">Generate PaySlip</a>
</p>
<table class="table table-sm table-bordered table-hover table-striped">
    <thead class="bg-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().OnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CurrentSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BasicSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NoOfDaysPresent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TotalSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().SaleIncentive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().WOWBillAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().WOWBillIncentive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LastPcsAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LastPCsIncentive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().OthersIncentive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().GrossSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().StandardDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TDSDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PFDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AdvanceDeducations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().OtherDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="bg-white">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentSalary.CurrentSalaryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasicSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfDaysPresent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleIncentive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WOWBillAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WOWBillIncentive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastPcsAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastPCsIncentive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OthersIncentive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrossSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StandardDeductions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TDSDeductions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PFDeductions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdvanceDeducations)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherDeductions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    <a class="btn btn-outline-amber" id="edit" data_modal="" asp-action="Edit" asp-route-id="@item.PaySlipId">Edit</a>
                    <a class="btn btn-outline-info" id="detail" data_modal="" asp-action="Details" asp-route-id="@item.PaySlipId">Details</a>
                    <a class="btn btn-outline-danger" id="delete" data_modal="" asp-action="Delete" asp-route-id="@item.PaySlipId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_ModalPop" />

@section Scripts{

    <script>
        $("#PaySlip").click(function (e) {
            e.preventDefault();

            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: "/PayRoll/PaySlipsController/PaySlipGenerator",
                success: function (result) {
                    console.log(result);
                    $.notify(result, { globalPosition: 'top center', className: "success" });
                    location.reload();
                },
                error: function (res) {
                    console.log(res);
                    $.notify(res, { globalPosition: 'top center', className: "success" });
                    alert("Error!!!");
                }
            });
        });
    </script>
}