@model AprajitaRetails.Models.ViewModels.IncomeExpensesReport

@{
    ViewData["Title"] = "Index";
}

<h1>Balance Sheet</h1>
<form asp-action="Index" method="get">
    <p>

        
        <div class="btn-group btn-group-sm" role="group" aria-label="Sort Using">
            <a class="btn btn-outline-deep-orange" asp-action="Index" asp-route-id="1">Today</a>
            <a class="btn btn-outline-default" asp-action="Index" asp-route-id="7">Weekly</a>
            <a class="btn btn-outline-green" asp-action="Index" asp-route-id="30">Monthly</a>
            <a class="btn btn-outline-light-green" asp-action="Index" asp-route-id="365">Yearly</a>
            <a class="btn btn-outline-light-blue" asp-action="Index" asp-route-id="600">Last Year</a>
        </div>

    </p>
</form>
<div>
    <h4>Income Expenses Report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.OnDate)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.OnDate)
        </dd>
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalSale)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalSale)
        </dd>
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalTailoringSale)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalTailoringSale)
        </dd>
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalManualSale)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalManualSale)
        </dd>
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalRecipts)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalRecipts)
        </dd>
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalCashRecipts)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalCashRecipts)
        </dd>
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalOtherIncome)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalOtherIncome)
        </dd>

        <dt class="col-sm-3  text-left text-danger">@Html.DisplayNameFor(model => model.TotalIncome)</dt>
        <dd class="col-sm-8 text-danger">@Html.DisplayFor(model => model.TotalIncome)</dd>
        <hr />

        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalStaffPayments)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalStaffPayments)
        </dd>
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalTailoringPayments)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalTailoringPayments)
        </dd>
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalExpenses)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalExpenses)
        </dd>
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalHomeExpenses)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalHomeExpenses)
        </dd>
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalPayments)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalPayments)
        </dd>
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalCashPayments)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalCashPayments)
        </dd>
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalOthersExpenses)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalOthersExpenses)
        </dd>

        <dt class="col-sm-3  text-left text-danger">@Html.DisplayNameFor(model => model.TotalAllExpenses)</dt>
        <dd class="col-sm-8 text-danger">@Html.DisplayFor(model => model.TotalAllExpenses)</dd>


        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalDues)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalDues)
        </dd>
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalRecovery)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalRecovery)
        </dd>
        <dt class="col-sm-3  text-right">
            @Html.DisplayNameFor(model => model.TotalPendingDues)
            :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TotalPendingDues)
        </dd>
    </dl>
</div>

