@model PaginatedList<AprajitaRetails.Models.Payment>

@{
    ViewData["Title"] = "Payments";
}

<h1 class="text-danger">Payments</h1>

<p>
   <a  class="btn btn-outline-success btn-sm" asp-action="Create"  id="create" data_modal="">Create New</a>
</p>
<table class="table table-sm table-bordered table-hover table-striped rounded-top">
     <thead class="bg-success">
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().PayDate)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().PaymentPartry)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().PayMode)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().PaymentDetails)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Amount)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().PaymentSlipNo)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
     <tbody class="bg-white">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PayDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentPartry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentSlipNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td class="btn-group btn-group-sm">
               <a  class="btn btn-outline-amber " asp-action="Edit" asp-route-id="@item.PaymentId" id="edit" data_modal="">Edit</a> 
               <a  class="btn btn-outline-info " asp-action="Details" asp-route-id="@item.PaymentId" id="detail" data_modal="">Details</a>
               <a  class="btn btn-outline-danger " asp-action="Delete" asp-route-id="@item.PaymentId" id="delete" data_modal="">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_ModalPop" />