@model AprajitaRetails.Areas.Uploader.Models.ImportSaleItemWise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ImportSaleItemWise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HSNCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HSNCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Barcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StyleCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StyleCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MRP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MRP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SGST)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SGST)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CGST)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CGST)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoundOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoundOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillAmnt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillAmnt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saleman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saleman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDataConsumed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDataConsumed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImportTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ImportSaleItemWiseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
