@model AprajitaRetails.Models.SuspenseAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SuspenseAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferanceDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferanceDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCleared)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCleared)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClearedDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClearedDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SuspenseAccountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
