@model IEnumerable<AprajitaRetails.Models.SuspenseAccount>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-danger">Index</h1>

<p>
   <a  class="btn btn-primary btn-sm" asp-action="Create">Create New</a>
</p>
<table class="table table-sm table-responsive table-hover table-striped">
     <thead class="bg-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferanceDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCleared)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClearedDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewBy)
            </th>
            <th></th>
        </tr>
    </thead>
     <tbody class="bg-info">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferanceDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCleared)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClearedDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewBy)
            </td>
            <td>
               <a  class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.SuspenseAccountId">Edit</a> |
               <a  class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.SuspenseAccountId">Details</a> |
               <a  class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.SuspenseAccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
