@model PaginatedList<AprajitaRetails.Models.BankDeposit>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-danger">Index</h1>

<p>
    <a class="btn btn-outline-light-green btn-sm" asp-action="Create" id="create" data_modal="">Create</a>
</p>
<table class="table table-sm table-bordered table-hover table-striped">
     <thead class="bg-success">
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().DepoDate)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Account)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Amount)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().PayMode)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Details)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
     <tbody class="bg-white">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepoDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountNumberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
               <a  class="btn btn-outline-amber" id="edit" data_moda="" asp-action="Edit" asp-route-id="@item.BankDepositId">Edit</a> |
               <a  class="btn btn-outline-info" id="detail" data_moda="" asp-action="Details" asp-route-id="@item.BankDepositId">Details</a> |
               <a  class="btn btn-outline-danger" id="delete" data_moda="" asp-action="Delete" asp-route-id="@item.BankDepositId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_ModalPop" />