@model PaginatedList<AprajitaRetails.Models.Attendance>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-danger">Attendances</h1>

<p>
    <a class="btn btn-light-green btn-sm" asp-action="Create" id="create" data_modal="">Create</a>
    <a class="btn btn-orange btn-sm" asp-action="Index" asp-route-id="">Today</a>
    <a class="btn btn-cyan btn-sm" asp-action="Index" asp-route-id="100">Month</a>
    <a class="btn btn-deep-orange btn-sm" asp-action="Index" asp-route-id="101">All</a>
</p>
<table class="table table-sm  table-hover table-striped table-bordered text-center">
    <thead class="bg-success">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Employee)*@Employee
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AttDate)*@Date
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.EntryTime)*@ Entry Time
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Status)*@ Status
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Remarks)*@ Remarks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="bg-white">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.StaffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td class="btn-group btn-group-sm">
                    @if ( Context.User.IsInRole ("Admin") || Context.User.IsInRole ("PowerUser")  )
                    {
                        <a class="btn btn-outline-amber" asp-action="Edit" asp-route-id="@item.AttendanceId" id="edit" data_modal="">Edit</a>
                    }

                    <a class="btn btn-outline-dark-green" asp-action="Details" asp-route-id="@item.AttendanceId" id="detail" data_modal="">Details</a>
                    @if ( Context.User.IsInRole ("Admin") || Context.User.IsInRole ("PowerUser")  )
                    {
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.AttendanceId" id="delete" data_modal="">Delete</a>
                    }

                    <a class="btn btn-outline-default" asp-action="EmpDetails" asp-route-id="@item.AttendanceId" id="detail" data_modal="">List</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_ModalPop" />
