@model PaginatedList<AprajitaRetails.Models.TalioringBooking>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-danger">Index</h1>

<p>
   <a  class="btn btn-primary btn-sm" asp-action="Create">Create New</a>
</p>
<table class="table table-sm table-responsive table-hover table-striped">
     <thead class="bg-success">
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().BookingDate)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().CustName)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().DeliveryDate)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().TryDate)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().BookingSlipNo)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().TotalAmount)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().TotalQty)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().ShirtQty)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().ShirtPrice)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().PantQty)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().PantPrice)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().CoatQty)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().CoatPrice)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().KurtaQty)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().KurtaPrice)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().BundiQty)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().BundiPrice)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Others)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().OthersPrice)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().IsDelivered)
            </th>
            <th></th>
        </tr>
    </thead>
     <tbody class="bg-white">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingSlipNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShirtQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShirtPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PantQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PantPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoatQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoatPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KurtaQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KurtaPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BundiQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BundiPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Others)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OthersPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelivered)
            </td>
            <td>
               <a  class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.TalioringBookingId">Edit</a> |
               <a  class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.TalioringBookingId">Details</a> |
               <a  class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.TalioringBookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_ModalPop" />