@model PaginatedList<AprajitaRetails.Models.DueRecoverd>

@{
    ViewData["Title"] = "Due Recovery";
}

<h1 class="text-danger">Due Recovery</h1>

<p>
   <a  class="btn btn-outline-light-green btn-sm" asp-action="Create" id="create" data_modal="">Create New</a>
</p>
<table class="table table-sm table-bordered table-hover table-striped">
     <thead class="bg-success">
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().PaidDate)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().DuesList)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().AmountPaid)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().IsPartialPayment)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Modes)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
     <tbody class="bg-white">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaidDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuesList.DuesListId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPartialPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
               <a  class="btn btn-outline-amber" id="edit" data_modal="" asp-action="Edit" asp-route-id="@item.DueRecoverdId">Edit</a> |
               <a  class="btn btn-outline-info" id="detail" data_modal="" asp-action="Details" asp-route-id="@item.DueRecoverdId">Details</a> |
               <a  class="btn btn-outline-danger" id="delete" data_modal="" asp-action="Delete" asp-route-id="@item.DueRecoverdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_ModalPop" />