@model TodoList.Web.Models.TodoViewModel

@{
    ViewData ["Title"] = "Index";
}

<h2 class="purple-text">ToDos</h2>

<table class="table table-bordered table-sm table-hover table-striped">
    <thead class="table-danger">
        <tr>
            <th>
                Update Status
            </th>
            <th>
                Title
            </th>
            <th>
                Done
            </th>
            <th>
                Added
            </th>
            <th>Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model.Todos )
        {
            <tr>
                <td>
                    <form asp-action="UpdateDone" method="post">
                        <input type="checkbox" class="done-checkbox" asp-for="@item.Done" name="Click it!" />Click to Update
                        <input type="hidden" name="id" value="@item.Id" />
                    </form>
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @(item.Done ? "Yes" : "No")
                </td>
                <td>
                    <span data-value="@item.Added" class="timeStampValue">
                        @item.Added
                    </span>
                </td>
                <td>
                    @if ( item.Tags != null )
                    {
                        @foreach ( var tag in item.Tags )
                        {
                            <a asp-action="Index" asp-route-tag="@tag" class="badge badge-default badge-pill">@tag</a>
                        }
                    }
                </td>
                <td class="btn-group btn-group-sm">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary rounded-pill ">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info rounded-pill">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger rounded-pill">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-outline-success btn-sm" asp-action="Create">Add Todo</a>
</p>

<hr />

<h2 class="text-success">Over</h2>

<table class="table table-bordered table-sm table-hover table-striped">
    <thead class="table-success">
        <tr>
            <th>
                Title
            </th>
            <th>
                Added
            </th>
            <th>
                Tags
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model.Dones )
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    <span data-value="@item.Added" class="timeStampValue">
                        @item.Added
                    </span>
                </td>
                <td>
                    @if ( item.Tags != null )
                    {
                        @foreach ( var tag in item.Tags )
                        {
                            <a asp-action="Index" asp-route-tag="@tag" class="badge badge-pill badge-info">@tag</a>
                        }
                    }
                </td>
                <td class="btn-group btn-group-sm">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info rounded-left rounded-pill">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger rounded-right rounded-pill">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<h2 class="text-success">Public Todos</h2>

<table class="table table-bordered table-sm table-hover table-striped">
    <thead class="table-success">
        <tr>
            <th>
                Title
            </th>
            <th>
                Added
            </th>
            <th>
                Tags
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model.PublicTodos )
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    <span data-value="@item.Added" class="timeStampValue">
                        @item.Added
                    </span>
                </td>
                <td>
                    @if ( item.Tags != null )
                    {
                        @foreach ( var tag in item.Tags )
                        {
                            <a asp-action="Index" asp-route-tag="@tag" class="badge badge-pill badge-info">@tag</a>
                        }
                    }
                </td>
                <td class="btn-group btn-group-sm">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info rounded-left rounded-pill">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger rounded-right rounded-pill">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

