@model IEnumerable<AprajitaRetails.Areas.Uploader.Models.ImportPurchase>

@{
    ViewData["Title"] = "ListUpload";
}

    <h2 class="purple-text">Purchase List</h2>

    
        <div class="btn-group btn-group-sm">
            <a class="btn btn-outline-primary" asp-action="ListUpLoad" asp-route-id="101">All</a>
            <a class="btn btn-outline-secondary" asp-action="ListUpLoad" asp-route-id="100">Processed</a>
            <a class="btn btn-outline-warning" asp-action="ListUpLoad" asp-route-id="">Pending</a>

        </div>     
        <hr/>
    
<table class="table table-bordered table-hover table-sm table-striped text-center">
    <thead class="bg-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GRNNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GRNDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StyleCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MRP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostValue)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GRNNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GRNDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Barcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StyleCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MRP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostValue)
                </td>
                <td class="btn-group btn-group-sm">
                    <form asp-action="ProcessPurchase">
                        <input type="hidden" name="dDate" value=@item.GRNDate.ToShortDateString() />
                        <input type="submit" value="Process it" class="btn btn-outline-warning btn-sm" />
                    </form>
                    <a class="btn btn-outline-amber" asp-action="ProcessPurchase" asp-protocol="post" asp-route-dDate="@item.GRNDate.ToShortDateString()">Process</a>                   
                </td>
            </tr>
        }
    </tbody>
</table>
