@model IEnumerable<AprajitaRetails.Areas.Uploader.Models.ImportSaleRegister>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MRP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoundOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillAmnt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConsumed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImportTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MRP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoundOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillAmnt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsConsumed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImportTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImportSaleRegisterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ImportSaleRegisterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImportSaleRegisterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
