@model PaginatedList<AprajitaRetails.Models.DailySale>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData ["Title"] = "Daily Sales";
}

<h1 class="text-danger">Daily Sales</h1>
<div>
    <form asp-action="Index" method="get">
        <table class="table table-sm table-striped table-bordered table-condensed  bg-white">
            <tr class="text-primary">
                <th>Today Sale</th>
                <th>Manual Sale</th>
                <th>Monthly Sale</th>
            </tr>
            <tr class="text-center ">
                <td class="text-success"><b>@string.Format("{0:C}", ViewBag.TodaySale)</b></td>
                <td class="text-success"><b>@string.Format("{0:C}", ViewBag.ManualSale)</b></td>
                <td class="text-success"><b>@string.Format("{0:C}", ViewBag.MonthlySale)</b></td>
            </tr>
            <tr class="text-danger">
                <th>Total Dues</th>
                <th>Cash-In-Hands</th>
                <th></th>
            </tr>
            <tr class="text-center ">

                <td class="text-success"> <b>@string.Format("{0:C}", ViewBag.DuesAmount) </b></td>
                <td class="text-success"> <b>@string.Format("{0:C}", ViewBag.CashInHand)</b></td>
                <td class="text-success"></td>
            </tr>

            <tr class="text-danger form-actions no-color">

                <td class=""><strong> Salesman: @Html.DropDownList("salesmanId", "All")</strong></td>
                <td>
                    <strong>
                        By Date: @Html.EditorFor(model => model.FirstOrDefault ().SaleDate, new { htmlAttributes = new { @value = DateTime.Now.ToShortDateString () } })
                        @Html.ValidationMessageFor(model => model.FirstOrDefault ().SaleDate, "", new { @class = "text-danger" })
                    </strong>
                </td>
                <td>
                    <strong>
                        Or
                        <span class="glyphicon glyphicon-search"> </span>  By InvoiceNo: @*@Html.TextBox("SearchString")*@
                        <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                        <input type="submit" value="Filter" class=" btn btn-warning " />
                    </strong>
                </td>

            </tr>

            <tr>
                <th><a class="btn btn-success btn-sm" asp-action="Create" id="create" data_modal="">Create New</a></th>
                <th></th>
                <th class="btn-group btn-group-sm">
                    <a class="btn btn-outline-info " asp-action="Index" asp-route-id="101">All</a>
                    <a class="btn btn-outline-amber " asp-action="Index" asp-route-id="0">Today</a>
                    <a class="btn btn-outline-deep-orange" asp-action="Index" asp-route-id="102">Month</a>
                </th>
            </tr>

        </table>
    </form>

</div>

@*<p>
        <a class="btn btn-teal btn-sm" asp-action="Create" id="create" data_modal="">Create New</a>
    </p>*@
<table class="table table-sm   table-hover table-striped table-bordered">
    <thead class="bg-success">
        <tr>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">  @*@Html.DisplayNameFor(model => model.SaleDate)*@ Sale Date</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["InvoiceSortParm"]">    @*@Html.DisplayNameFor(model => model.InvNo)*@  Invoice No</a>     </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Amount)*@ Amount
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PayMode)*@ Payment Mode
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CashAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salesman)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDue)
                </th>*@
            <th>Salesman</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ManualSortParm"]"> @*@Html.DisplayNameFor(model => model.IsManualBill)*@ Manual Bill</a>
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.IsTailoringBill)
                </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.IsSaleReturn)*@ Sales Return
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody class="bg-white">
        @foreach ( var item in Model )
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayMode)
                </td>
                @*<td>            @Html.DisplayFor(modelItem => item.CashAmount)        </td>            *@
                <td>
                    @Html.DisplayFor(modelItem => item.Salesman.SalesmanName)
                </td>
                @*<td>            @Html.DisplayFor(modelItem => item.IsDue)        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.IsManualBill)
                </td>
                @*<td>            @Html.DisplayFor(modelItem => item.IsTailoringBill)        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.IsSaleReturn)
                </td>
                @*<td>            @Html.DisplayFor(modelItem => item.Remarks)        </td>*@
            <td class="btn-group btn-group-sm ">
                @if ( Context.User.IsInRole("Admin") || Context.User.IsInRole("PowerUser"))
                {
                    <a class="btn btn-outline-secondary " asp-action="Edit" asp-route-id="@item.DailySaleId" id="edit" data_modal="">Edit</a>
                }

                <a class="btn btn-outline-deep-orange" asp-action="Details" asp-route-id="@item.DailySaleId" id="detail" data_modal="">Details</a>
               @if ( Context.User.IsInRole("Admin") )
                {
                    <a class="btn btn-outline-danger " asp-action="Delete" asp-route-id="@item.DailySaleId" id="delete" data_modal="">Delete</a>
                }
            </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_ModalPop" />