@model IEnumerable<AprajitaRetails.Models.DailySale>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-danger">Index</h1>

<p>
   <a  class="btn btn-primary btn-sm" asp-action="Create">Create New</a>
</p>
<table class="table table-sm  w-auto table-responsive-sm table-hover table-striped table-bordered">
     <thead class="bg-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayMode)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CashAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salesman)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.IsDue)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IsManualBill)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsTailoringBill)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IsSaleReturn)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>*@
            <th ></th>
        </tr>
    </thead>
     <tbody class="cyan lighten-3">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayMode)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CashAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salesman.SalesmanId)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.IsDue)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsManualBill)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsTailoringBill)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsSaleReturn)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>*@
            <td class="btn-group">
               <a  class="btn btn-outline-secondary btn-sm" asp-action="Edit" asp-route-id="@item.DailySaleId">Edit</a> 
               <a  class="btn btn-outline-deep-orange btn-sm" asp-action="Details" asp-route-id="@item.DailySaleId">Details</a> 
               <a  class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.DailySaleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
