@model AprajitaRetails.Models.EDC

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EDC</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EDCName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EDCName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWorking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWorking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EDCId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
