@model IEnumerable<AprajitaRetails.Models.SalaryPayment>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaryMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaryComponet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryComponet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Store.StoreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SalaryPaymentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SalaryPaymentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SalaryPaymentId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
