@model PaginatedList<AprajitaRetails.Models.CashPayment>

@{
    ViewData["Title"] = "Cash Expenes";
}

<h1 class="text-danger">Cash Expenses</h1>

<p>
    <a class="btn btn-success btn-sm" asp-action="Create" data_modal="" id="create">Create New</a>
    <a class="btn btn-deep-orange btn-sm" asp-action="HomeExpenses" data_modal=""  id="detail">Home Expenses</a>
</p>
<table class="table table-sm table-bordered table-hover table-striped rounded">
     <thead class="bg-success">
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().PaymentDate)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Mode)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().PaidTo)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().Amount)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.FirstOrDefault().SlipNo)
            </th>
            <th></th>
        </tr>
    </thead>
     <tbody class="bg-white">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mode.Transcation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlipNo)
            </td>
            <td class="btn-group btn-group-sm " >
               <a  class="btn btn-outline-amber " asp-action="Edit" asp-route-id="@item.CashPaymentId" data_modal="" id="edit">Edit</a> 
               <a  class="btn btn-outline-info " asp-action="Details" asp-route-id="@item.CashPaymentId" data_modal="" id="detail">Details</a> 
               <a  class="btn btn-outline-danger " asp-action="Delete" asp-route-id="@item.CashPaymentId" data_modal="" id="delete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<partial name="_ModalPop" />